/* 
Colors
#f7fdc3
#d1f1fd
#ffda81
#d8d8d8
#e9c7ff
*/

body {
  background-color: #d1f1fd;
}

#table {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  font-size: large;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  vertical-align: middle;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color:	#f7fdc3;
}

tr:nth-child(odd) {
  background-color: #ffda81;
}

th {
  background-color: #ffda81;
  /* color: white; */
}

#input {
  text-align: center;
  margin: 30px;
  font-size: x-large;
}

input{
  padding: 10px 15px;
  margin: auto 10px;
  border-radius: 5px;
}

#add {
  padding: 10px 15px;
  background: #ffda81;
  border-radius: 5px;
}

#add:hover {
  background: #ffc946;
}

#addGreyed {
  padding: 10px 15px;
  background: #ffda81;
  border-radius: 5px;
  opacity: 0.6;
  cursor: not-allowed;
}

#buttoncontainer {
  text-align: center;
}

#generate {
  padding: 20px 30px;
  background: #ffda81;
  border-radius: 5px;
}

#generateGreyed {
  padding: 20px 30px;
  background: #ffda81;
  border-radius: 5px;
  opacity: 0.6;
  cursor: not-allowed;
}

#error {
  text-align: center;
  margin: 15px auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #ffda81; /* Black background color */
  color: #000; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #ffda81; /* Black background color */
  color: #000; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
